@font-face {
    font-family: "Soleil";
    src: url("./SoleilRegular.otf");
}
@font-face {
    font-family: "Song Myung";
    src: url("./SongMyung-Regular.ttf")
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Soleil Light";
    background: white;
    color: black;
    padding: 0;
    margin: 0;
}
nav {
    background: white;
    border-bottom: 2px solid rgb(233, 233, 233);
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
nav > #title {
    margin: 0;
    font-size: 30px;
}
#nav-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}
#nav-buttons > button {
    transition: .2s ease;
    background: transparent;
    border: none;
    aspect-ratio: 1;
    height: 40px;
    font-size: 20px;
    color: #565656;
}
#nav-buttons > button:hover {
    transition: .2s ease;
    scale: 1.1;
    color: black;
}
#content {
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
#content > h1 {
    text-align: center;
}
#content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}